@tailwind base;
@tailwind components;
@tailwind utilities;
.card3 .card-container {
  border: none;
  box-shadow: none;
  padding: 5px;
}
.card3 .card-avatar {
  margin-top: -26px;
}
.card3 .card-info {
  text-align: center;
  font-family: Poppins;
}
.card3 .card-info p {
  margin-bottom: 10px;
}
.card3 .card-title {
  display: flex;
  justify-content: center;
  color: var(--Black, #fff) !important;
  font-family: Poppins;
  font-size: 22px;
  font-weight: 600;
  margin-top: 30px;
}
.card3 .card-content {
  color: var(--Black, #fff);
  text-align: center;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5;
}
